@model WebApplication1.Models.ToDoModel

<div>
    <form method="POST" action="/ToDo/Edit">
        <input type="hidden" asp-for="Id" id="id" name="id" />
        <div class="mb-3">
            <label for="title">件名 <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="title" name="title" placeholder="件名を入力してください" asp-for="Title" />
        </div>
        <div class="mb-3">
            <label for="description">説明</label>
            <textarea class="form-control" id="description" name="description" rows="3" asp-for="Description"></textarea>
        </div>
        <div class="mb-3">
            <label for="deadline">締め切り</label>
            <input type="date" class="form-control" id="deadline" name="deadline" asp-for="Deadline" asp-format="{0:yyyy-MM-dd}" />
        </div>
        <div class="mb-3">
            <label for="priority">優先度</label>
            <select class="form-control" id="priority" name="priority" asp-for="Priority">
                <option>高</option>
                <option>中</option>
                <option>低</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="status">ステータス</label>
            <select class="form-control" id="status" name="status" asp-for="Status">
                <option>未着手</option>
                <option>着手中</option>
                <option>完了</option>
            </select>
        </div>
        <a asp-action="Index" asp-controller="ToDo" class="btn btn-light">キャンセル</a>
        <button type="submit" class="btn btn-primary">更新</button>
    </form>
</div>